.default {
    padding: 16px;
    border-radius: 16px;
    border: none;
    background-color: #f7f7f7;
    margin: 20px 0;
}

.outline {
    margin: 40px 0;
    padding: 16px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
}