@import 'scss/variables';

* {
  margin: 0;
  padding: 0;
  background-color: $color-primary;
}

#root {
  display: flex;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1200px;
  flex-grow: 0;
  flex-shrink: 1;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .recipe-container {
    flex-direction: row;
  }
}